@import url("https://fonts.googleapis.com/css2?family=Abel&family=Abyssinica+SIL&display=swap");

:root {
  --paddingLeftRight: 15px;
  --borderStyle: 1px solid black;
}

html {
  scroll-behavior: smoth;
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
  padding: 0px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background-color: #fefbf6;
}

h1 {
  margin: 0;
}

.nav-links-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;

  padding: 0 var(--paddingLeftRight);
  border-top: var(--borderStyle);
  border-bottom: var(--borderStyle);
  line-height: 1.5;
}

.nav-link:link,
.nav-link:active,
.nav-link:hover,
.nav-link:visited {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: #171717;
  text-decoration: none;
}

.nav-link:active {
  background: #222;
  color: #fff;
}

.intro-wrapper {
  padding: 30px 10px;
  margin: 0px var(--paddingLeftRight);
  border-right: var(--borderStyle);
  border-left: var(--borderStyle);
}

.intro {
  margin: 0 auto;
  max-width: 500px;
}

.intro span {
  display: block;
  font-family: "Abyssinica SIL", serif;
  line-height: 1.25;
}

.line1 {
  font-size: 2.5rem;
}

.line2 {
  font-size: 2rem;
  float: right;
}

.line3 {
  clear: right;
  font-size: 1.5rem;
}

.line4 {
  margin-top: 7px;
  margin-right: 10px;
  text-align: center;
  font-size: 1.575rem;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;

  border-top: var(--borderStyle);
  border-bottom: var(--borderStyle);
}

.works-list {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0;
  margin: 0 var(--paddingLeftRight);
  border-left: var(--borderStyle);
  border-right: var(--borderStyle);
}

.works-list li {
  list-style: none;
}

.work-wrapper {
  padding: 15px 0 10px;
  border-bottom: var(--borderStyle);
}

.card {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bbt0 {
  border-bottom: none;
}

.work-index {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.work-info,
.work-title {
  font-size: 1rem;
  letter-spacing: 0.8px;
  line-height: 1.25;
}
.work-title {
  display: inline;
}

.indent2 {
  display: block;
  text-indent: 5px;
}

.indent4 {
  display: block;
  text-indent: 10px;
}

.work-redirection-link:link,
.work-redirection-link:visited,
.work-redirection-link:hover,
.work-redirection-link:focus,
.work-redirection-link:active {
  color: black;
  text-decoration: none;
}

.work-image {
  width: 95%;
  max-width: 200px;
  object-position: top center;
  object-fit: cover;
}

.work-image-large {
  display: none;
}

.about-wrapper {
  margin: 0 var(--paddingLeftRight);
  padding: 20px 10px;
  border-left: var(--borderStyle);
  border-right: var(--borderStyle);
}

.about-paragraph {
  text-indent: 10px;
  margin-top: 10px;
  letter-spacing: 0.8px;
  line-height: 1.3;
}

.subsection-title {
  margin: 15px 5px 0;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Abel", sans-serif;
  border-bottom: var(--borderStyle);
}

.badges-wrapper {
  margin: 15px 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.badge-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-item p {
  text-align: center;
}

.contacts-wrapper {
  margin: 0 var(--paddingLeftRight);
  padding: 30px 10px;
  border-right: var(--borderStyle);
  border-left: var(--borderStyle);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.contact-links:link,
.contact-links:visited {
  text-decoration: none;
  color: #171717;
  text-align: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links:hover {
  transform: scale(1.1);
}

.contact-links:active {
  transform: scale(1.05);
}

.icon {
  color: #171717;
  font-size: 1.5rem !important;
  line-height: 1.5 !important;
}

@media only screen and (min-width: 500px) {
  
  .line2 {
    padding-right: 40px;
  }

  .line3 {
    margin-left: -20px;
  }

  .work-image {
    display: none;
  }

  .card {
    margin: 0 auto;
    max-width: 750px;
  }

  .card > div {
    min-width: 145px;
  }

  .work-image-large {
    display: inline;
    width: 98%;
    max-width: 530px;
    float: right;
    object-position: top center;
    object-fit: cover;
  }
}

@media only screen and (min-width: 780px) {
 
  header, main {
    margin: 0 auto;
    max-width: 780px;
    border: var(--borderStyle);
    border-bottom: unset;
  }

  .card {
    padding: 0 15px;
  }

  #catalog {
    border-top: unset;
  }

  /* .intro-wrapper, .about-wrapper, .works-list, .contacts-wrapper {
    border-left: unset;
    border-right: unset;
  } */

}